name: Deploy Worker with Durable Object
on:
  push:
    branches:
      - main
jobs:
  deploy:
    runs-on: ubuntu-latest
    timeout-minutes: 60
    environment: production
    steps:
      - name: Create env variables file
        run: |
          echo "github = ${{ toJson(github) }}"
        shell: bash
      - uses: actions/checkout@v4
      - name: Build & Deploy Worker
        uses: cloudflare/wrangler-action@v3
        with:
          wranglerVersion: "4.55.0"
          apiToken: ${{ secrets.CLOUDFLARE_API_TOKEN }}
          accountId: ${{ secrets.CLOUDFLARE_ACCOUNT_ID }}
